{{!-- <div class="wrapper"> --}}
<h1>Users</h1>
<table>
    <tr>
       <th> User</th>
        <th>Greetings Counter</th>
        <th>Time</th>
    </tr>
    {{#each nameList}}
        <tr>
            <td>{{this.user_name}}</td>
            <td>{{this.counter}}</td>
            {{!-- <th>Time</th> --}}
        </tr>
    {{!-- <tr>
        <td><a href="{{this.user_name}}">{{this.user_name}}</a></td>
    </tr>
    <tr>
        <td><a href="{{this.counter}}">{{this.counter}}</a></td>
    </tr> --}}
    {{!-- <tr>
        <td><a href="{{this.user_name}}">{{this.user_name}}</a></td>
    </tr> --}}
    
    {{/each}}
</table>
{{!-- </div> --}}